.btnbox .button-common{
  margin: 0 5px;
}

/* 按键 */
.button-common{
  margin-right: 5px;
  margin-top: 5px;
  background: #0072d2;
  display:inline-block;
  padding: 5px 5px;
  color: #ffffff;
  border: 0;
}

.button-table-td{
  margin-right: 5px;
  background: #0072d2;
  display:inline-block;
  padding: 0px 5px;
  color: #ffffff;
  border: 0;
}

.button:hover{
  background: #66b1ff;
    border-color: #66b1ff;
    color: #fff;
}
.button-gray{
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  width: 110px;
  color: #999;
  background: #f0f0f0;
  border: 1px solid #ddd;
  text-align: center;
  outline: none;
  border-radius: 2px;
}

.button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-color: #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 4px;
}

.button-blue {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}


/* 链接 */
a{
  color: rgb(35, 43, 49);
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  color: #1c8fef;
  text-decoration: none;
}

/* toggle按键*/
.switch__core {
  margin: 0;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  border: 1px solid #dcdfe6;
  outline: none;
  border-radius: 10px;
  box-sizing: border-box;
  background: #dcdfe6;
  cursor: pointer;
  transition: border-color .3s,background-color .3s;
  vertical-align: middle;
}

.switch {
  margin: 0;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  border: 1px solid #dcdfe6;
  outline: none;
  border-radius: 10px;
  box-sizing: border-box;
  background: #dcdfe6;
  cursor: pointer;
  transition: border-color .3s,background-color .3s;
  vertical-align: middle;
  transform: translate3d(20px, 0px, 0px);
}

.switch.checked  {
  border-color: #409eff;
  background-color: #409eff;
  
}

.switch.checked .switch__button {
  transform: translate3d(20px, 0px, 0px);
}

.switch .switch__button {
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 100%;
  transition: transform .3s;
  width: 16px;
  height: 16px;
  background-color: #fff;
}

 .close-button{
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 20px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.3;
}

 .close-button:active {
  box-shadow: none;
}

 .close-button:hover {
  background: #C72015;
  color: #FFF;
}



