.tips {
    width: 16px;
    height: 16px;
    background: #F93F40;
    border: 1px solid #F93F40;
    border-radius: 50%;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    position: absolute;
    z-index: 10;
    right: -10px;
    top: -6px;
}

.button-red{
    width:80%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: white;
    text-align: center;    
    background-color: red;
}

.button-gray{
    height: 35px;
    line-height: 35px;
    width: 80px;
    background-color: #999999;
    border: 1px solid #999999;
}

.button-orange{    
    height: 30px;
    line-height: 30px;
    width: 120px;
    background: #FF834C;
    border: 1px solid #FF834C;
    color: #fff;
    text-align: center;
}

/* 内容栏 */
.content-box-top{
    margin-top:40px;
}

.content-box-bottom{
    margin-bottom: 55px;
}

/* 标题栏 */
.header-box{
    background-color: #26a2ff;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: 1;
    width:100%;
    padding: 0 10px;
    position: fixed;
    top: 0;
    z-index: 2;
    text-align: center;
    white-space: nowrap;
}

.header-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: inherit;
    font-weight: 400;
    
}



.bootom-split{
    border-bottom: 1px solid #ddd;
}


/* 填数量 */
.buttnadd {
    cursor: pointer;
    height: 34px;
    line-height: 34px;
    width: 40px;
    margin: 0;
    border: 1px solid #e4e4e4;
    background: #fff;
    text-align: center;
    color: #666;
    font-size: 18px;
    font-weight: 400;
}


.numinput{
    text-align: center;
    height: 34px;
    line-height: 34px;
    width: 50px;
    padding: 0 5px;
    margin: 0;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-left: 0;
    border-right: 0;
    background: #fff;
    color: #000;
    font-size: 15px;
    height: 34px;
}

/* 将默认的“x”隐藏掉： */
input[type="search"]::-webkit-search-cancel-button{
    display: none;
}

.blue-color{
    background-color: #26a2ff;
}



.sort-caret {
    width: 0;
    height: 0;
    border: 5px solid transparent;
}
  
  /* 上升 */
  .ascending.sort-active{
    border-bottom-color: red;
    
  }
  
  .ascending {
    border-bottom-color: #c0c4cc;
  
  }

    /* 下降 */
.descending {
    border-top-color: #c0c4cc;
  }
  
  .descending.sort-active{
    border-top-color: red;
   
  }

  .sortitem{
    width: 12px;
    height: 24px;
  }

  .common-text{
    font-size: 14px;
  }

  .flex-wrapbox{
    -webkit-flex-wrap: wrap;  
    -moz-flex-wrap: wrap;  
    -ms-flex-wrap: wrap;  
    -o-flex-wrap: wrap;  
    flex-wrap: wrap;  
  }

  .flexbox1{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}